/* CSS Page */

/* Developed by Mike Weiss of mjmediateam.com*/

/*-------- Elements --------*/

* {

margin:0;

padding:0

}



body {

background:#FFFFFF;

height:100%;

text-align:center

}



#container {

margin:0 auto;

min-height:100%;

position:relative;

text-align:left;

width:918px;
    top: 0px;
    left: 1px;
    right: -1px;
}



#header h1 {

color:#445971;

font-family:Arial;

font-size:36px;

padding:10px 0 0;

text-transform:uppercase

}



#header h2 {

color:#808080;

font-family:Arial;

font-size:12px;

font-style:normal;

margin:-13px 0 0 13px;

padding-bottom:30px

}



#focus {

background:url(images/s1.jpg) center center no-repeat #50647B;

height:240px;

overflow:hidden;

width:916px
}


#navigation {

background:url(images/left.gif) no-repeat top left #50647B;

float:left;

height:240px;

width:230px;


}



#navigation h3 {

display:none

}



#navigation ul {

color:#000;

font-family:Arial;

list-style-type:none;

margin:20px auto auto 20px;

text-transform:uppercase

}



#navigation ul li {

overflow:hidden;

width:150px

}



#navigation a {

border-bottom:1px solid #7E9CC1;

color:#fff;

display:block;

font-size:10px;

padding:10px 0 10px 8px;

text-decoration:solid;

width:150px

}



#navigation a:hover {

padding:10px 0 10px 20px

}



#navigation a.active,#navigation a.active:hover {

border-bottom:3px solid #7E9CC1;

cursor:default;

font-weight:700;

padding:10px 0 10px 8px

}



#quicksearch {

background:#50647B url('images/right.gif') no-repeat right top;

float:right;

height:240px;

width:230px;

vertical-align:middle;

}



#quicksearch form {

    padding:10px;
    height: 192px;
    width: 311px;
    text-transform:uppercase
}



#quicksearch input,#quicksearch label {

clear:left;

float:left


}



#quicksearch input {

margin:0 0 0 2px;

}



#quicksearch label {

color:#fff;

font-size:12px;

margin:10px 0 0 15px



}



#quicksearch .date {

background:url(images/date.gif) center right no-repeat #FFF

}



#quicksearch fieldset {

border:1px solid #7E9CC1



}



#quicksearch legend {

color:#FFF;

font-family:Arial;

font-size:14px;

margin-left:7px;

padding:5px

}



#quicksearch .submit {

clear:both;

float:left;

margin:20px 0 10px 15px;

padding:1px 10px

}



#middle {

padding:0 0 60px

}



/*  Content Elements  */

#content {

margin:10px 0 0

}





#content hr {

clear:both;

visibility:hidden

}



#content p.top {


margin:0;

padding:30px 0 0;

text-align:right

}



#content p.top a {

background:url(images/arrow_up.gif) center left no-repeat;

margin:0 30px;

padding:0 0 0 15px

}



#content h3 {

border-bottom:1px solid #7E9CC1;

color:#440000;

font-family:Arial;

font-size:18px;

font-style:italic;

margin:5px 10px

}



#content p {

margin:3px 15px 10px;

text-align:left

}



#content h4 {

font-size:11px;

line-height:15px;

margin:2px 10px

}



#content .date {

background:url(images/date.gif) center left no-repeat #FFF;

color:#445971;

padding:0 0 0 20px

}



#content a {

color:#7E9CC1;

text-decoration:none

}



#content img {

border:1px solid #7E9CC1;

margin:5px 15px

}



html,* html #container {

height:100%

}



/*  Footer  */

* html #footer {

margin-top:-50px

}



#footer {

background:#7e9CC1 url('images/footer.gif') no-repeat center top;

height:50px;

margin:-50px auto 0;

position:relative;

text-align:center;

width:917px;
    top: 0px;
    left: 1px;
}



#footer a:hover,#content a:hover {

text-decoration:underline

}



#footer p {

color:#fff;

font-family:Arial;

font-size:10px;

padding:15px 0 0;
    height: 13px;
    width: 915px;
}



#footer a {

color:#fff;

text-decoration:none

}



/*  Classes  */

.left {

float:left

}



.right {

float:right

}



.gray {

background-color:#F2F3F4

}





/*  Content Controllers  */

/*  Use this to make a new row of columns  */

#content .row {

margin:5px auto;

overflow:hidden;

width:99%


}



/*  Combine columns to form a layout  */

.fullcolumn {

float:left;

width:99%

}



.threequartercolumn {

float:left;

width:100%
}



.halfcolumn {

float:left;

width:49%

}



.onethirdcolumn {

float:left;

width:33%

}



.twothirdcolumn {

float:left;

width:65%

}



.onequartercolumn {

float:left;

width:18%
}